
<div class="toto"></div>
<div changeColor="dashed red"  border="solid">test change color</div>
///////////////////////////////////////////////////////////////////////
<demo-apend-demo></demo-apend-demo>
///////////////////////////////
<ul cp1="li">
  <li>Click here to add li</li>
</ul>

<div cp1="span">
  <span>add span</span><br>
</div>
//////////////////////////////////////
<div>
  <div cp2>Click</div>
</div>
///////////////////////////
<div removeChild >Mouse Over</div>
::://////////////////////////////////////////

<div selectRootElement="">click</div>
<div class="myclass"></div>

////////////////:setAttribute() and removeAttribute()
<br>
<input type="text" setAndRemoveAttribute/>

/
<br>
/////////////////////////////////set propety

<div setProperty>--- Click Here --- </div>
<br>
////////////////////////////////////

<div addAndRemoveClass>--- Namaste! --- </div>
/////////////////////////
<br>
<div demoAddAndRemoveStyle=""> demoAddAndRemoveStyle </div>

///////////////////////////////
<br>

<div>
  <div>Namaste!!</div>
  <div parentNode> --- Click Here --- </div>
</div>
